//
   Created by ABC on 3/9/2015.

h2 ChangePassword
    form(action='/changepassword',method='post')
        |linkPasswod:
        input(type='text',name='link_password')
        br
        | Old PASSWORD:
        input(type='password',name='old_password')
        br
        | NEW PASSWORD:
        input(type='password',name='new_password')
        br
        input(type='submit',name='Change Password' value='Change Password')
