//
   Created by ABC on 3/9/2015.

h2 FORGET PASSWORD
    form(action='/forgetpassword',method='post')
        |email :
        input(type='text',name='email')
        br
        input(type='submit',name='FORGET PASSWORD')
        br